.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store
# 1. Ignore everything in the directory
*
!.gitignore
!brave_debullshitinator-policies.json
!iphone.icc
!pavucontrol.ini
!alacritty/
!autostart/
!dconf/
!eog/
!fish/
!gtk-3.0/
!htop/
!nvim/
!rofi/
!sway/
!Thunar/
!waybar/
!xfce4/
